In [24]:
new_tup = [('g',19), ('n', 21), ('l', 17), ('q', 39), ('d', 55)]

new_res = dict(new_tup)
print(new_res)

{'g': 19, 'n': 21, 'l': 17, 'q': 39, 'd': 55}

In [2]:
a_dictionary = {"name" : "John", "age" : 20}
a_list = []

dictionary_copy = a_dictionary.copy()
a_list.append(dictionary_copy)

print(a_list)

[{'name': 'John', 'age': 20}]

In [8]:
dict = {1 : 'one', 2 : 'two'}
# Print out the dict
print(dict)
# Add something to it
dict[3] = 'three'
# Print it out to see it has changed
dict [4] = "four"
print(dict)

{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [15]:
d = {5:"number"}
d [8]= "number"
d

{5: 'number', 8: 'number'}

In [16]:
d.update(dict)
d

{5: 'number', 8: 'number', 1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [25]:
to_dictionary = {(19, 25) : 'rose', (65, 47, 91) : 'lily', (57, 199) : 'Jasmine'}

new_output = [element for new_key in to_dictionary for element in new_key]
print("tuple key elements of dictionary are:",new_output)

tuple key elements of dictionary are: [19, 25, 65, 47, 91, 57, 199]

In [4]:
a = 0
b = 1
n = 10

for i in range(n):
    c= a+b
    a=b
    b=c
    print(c)

1
2
3
5
8
13
21
34
55
89

In [26]:
l = [4,2,36,4,58,6,8,6,2,4,32,1,12,1,2,21,5]
a = list(set(l))
# for i in a:
#     for j in i:
#         if i >j :
#             a[i],a[j]==a[j],a[i]
a  = sorted(a)
print(a)
print("list second highest element :",a[-2] )

[1, 2, 4, 5, 6, 8, 12, 21, 32, 36, 58]
list second highest element : 36

In [38]:

bc = ['a','f','d','g',"k",'h','x','r','a','s','c']
a = sorted(bc)
print(a)

['a', 'a', 'c', 'd', 'f', 'g', 'h', 'k', 'r', 's', 'x']

In [44]:
l1 = [1,4,56,6,7,8,4,3,44,55,65]

print(max(l1))
print(min(l1))

65
1

In [59]:
d = {2:"abc",1:"bcd",4:"pcd",3:"ifd"}
a = list(d.keys())
b = list(d.values())
c = list(d.items())

print(a)
print(b)
print(c)
d[5] = 'bsj'
d[5] = 'gvc'
d

[2, 1, 4, 3]
['abc', 'bcd', 'pcd', 'ifd']
[(2, 'abc'), (1, 'bcd'), (4, 'pcd'), (3, 'ifd')]

{2: 'abc', 1: 'bcd', 4: 'pcd', 3: 'ifd', 5: 'gvc'}

In [83]:
a = "aaaabbbbcccdddd"
b = {}
for s in a:
    if s in b.keys():
        b[s]=b[s]+1
    else:
        b[s]=1
for s,r in b.items():
    print("{}{}".format(s,r),end="")

a4b4c3d4

In [102]:
del l

In [119]:
l = [4,2,1,233,5,6,74,7,6,7,6,4,4,4,44,4,1,2,2,23]
# l = list(set(l))
for i in range(len(l)):
    for j in range(i+1 ,len(l)):
        if l[i] > l[j]:
            l[i], l[j] = l[j],l[i]
print(l)

[1, 1, 2, 2, 2, 4, 4, 4, 4, 4, 5, 6, 6, 6, 7, 7, 23, 44, 74, 233]

In [120]:
print(max(set(l),key = l.count))

4

In [126]:
import statistics
from statistics import mode

print(mode(l))

4

In [41]:
l = [4,2,1,233,5,6,74,7,6,7,6,4,4,4,44,4,1,2,2,23]
counter = 0
index = l[0]
for i in l:
    freq = l.count(i)
    if freq > counter:
        counter = freq
        num = i
print(num)

4

# Reverse program for loop

In [ ]:

x = "My name is Imran"
x = x.split() 
w = " "
for i in x:
     w = i + w
# for i in range(1,len(x)+1):
#      w += x[-i] 
# for i in x:
#        print(i[::-1],end=" ")
print(''.join(w))

# palindrome of string and Numbers

In [76]:
n = "malayalAM"
def Pal(n):
    n =n.lower()
    w = ""
    for i in n:
        w = i+w

    if w == n:
    
        return True
    else:
        return False
Pal(n)

True

In [87]:
n = input("enter the string:")
def Pal(n):
#     n =n.lower()
    if n==n[::-1]:
        return True
    else:
        return False
Pal(n)

enter the string:Nitin

False

In [75]:
n =int(input("Enter the no:"))
temp = n
r = 0
while n!=0:
    di = n%10
    r = r*10+di
    n//=10
if temp==r:
    print("is palindrome")
else:
    print("not palindrome")

Enter the no:12121
is palindrome

# Check Sub String or not

In [102]:

# n = n.casefold()

# s = s.casefold()
def Sub(n,s):
    
    if s in n:
        return True
    else:
        return False
n = "Rahul"
s = 'anuj'
Sub(n,s)

False

In [128]:
s = "Imran kasam Sheikh"
l = s.split()
new = ""
for i in range(len(l)-1):
    s = l[i]
    new += (s[0].upper()+".")
  
new += l[-1].title() 
print(new)

I.K.Sheikh

In [2]:
sentence = 'This is a sentence'
split_value = []
tmp = ''
for c in sentence:
    if c == ' ':
        split_value.append(tmp)
        tmp = ''
    else:
        tmp += c
if tmp:
    split_value.append(tmp)

sentence

In [23]:
a ="I work in Python Progaminng Language"
b = []
w ='' 

for i in a:
    b[i] = 
print(''.join(w))

SyntaxError: invalid syntax (2250093324.py, line 6)

In [78]:
sentence = 'This is a string to try'
answer = ''
temp = ''
for i in sentence:
    if i != ' ':
        temp += i
    else:
        answer = temp + ' ' + answer
        temp =''
answer = temp + ' ' +answer  
print(answer)

try to string a is This

In [115]:


def First(str):
    b = {}
    for ch in str:
        if ch in b:
            return ch
        else:
            b[ch]=0
    
    return "None"
    

print(First("I worrk in Python Programming Language"))

r