In [23]:
n = 10
for i in range(n):
    print((" "*(i)),("* "*(n-i)))

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [31]:
n = 5
fact = 1
while (n>1):
    fact = fact*n
    n -=1

print(fact)

120

In [81]:
n = 15
a= 0
b = 1
print(a)
print(b)
for i in range(n-2):
    
    c = a+b
    a = b
    b = c
    if c >=100:
        break
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89

In [83]:
l = [1,5,6,7,6,1,7,2,1,23,3,4,23,4,11,3,3,45,4]
b = []
for i in l:
    if i not in b:
        b.append(i)
b

[1, 5, 6, 7, 2, 23, 3, 4, 11, 45]

In [86]:
l = [1,5,6,7,6,1,7,2,1,23,3,4,23,4,11,3,3,45,4]
count = 0
for i in l:
    count +=1
print(count)
print(len(l))

19
19

In [89]:
a = "ablkfjajfljaljflka"
count = 0
for i in a:
    count +=1
print(count)

18

In [134]:
a = "My name is Imran"
b = a.split()
# for i in b:

#     print(i[::-1],end=" ")
b = b[::-1]
b

['Imran', 'is', 'name', 'My']

In [178]:
a = "My name is Imran"
b = " "
for i in range(1,len(a)+1):
    b +=a[-i]
print(b)

 narmI si eman yM

In [143]:
n = 123456789
rev = 0
while (n!=0):
    rem = n%10
    rev = rev*10+rem
    n = n//10
print(rev)

987654321

In [175]:
n = 123456789
rev = 0
while n !=0:
    rem = n%10
    rev = rev*10+rem
    n //= 10
print(rev)

987654321

In [171]:
n = 79419088570
print(str(n)[::-1])

07588091497

In [196]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i,end="")
    print()

55555
4444
333
22
1

In [399]:
a = [1,5,6,47,7,8,5,6,121,12,4]
b = list(filter (lambda x:x%2==0,a))
c = list(filter (lambda x:x%2!=0,a))
d = list(map(lambda x : x//2,a))
print(b)

print(c)
print(d)

[6, 8, 6, 12, 4]
[1, 5, 47, 7, 5, 121]
[0, 2, 3, 23, 3, 4, 2, 3, 60, 6, 2]

In [407]:
a = [1,2,5,7,8,12,6,8]
for i in a:
    if i%2==0:
        print(i,end=' ')

2 8 12 6 8

In [461]:
b = [2,4,8,9,7,5,10,12,16,17,2,3,4]
c = [2,4,6,8,9,5,10,16,5,1,1,2,5,6,21,55]
for i in b and c:
    print(i,end =" ")

2 4 6 8 9 5 10 16 5 1 1 2 5 6 21 55

In [29]:

a = "My Name ID 45"
c = a.split()
b = ' '
for i in range(1,len(c)+1):
    b += c[-i]
print(" ".join(b))

  4 5 I D N a m e M y

In [488]:
a = "My  ID Is 45"
a = a.split()
a = a[::-1]
for i in a:
    print(i,end=" ")

45 Is ID My

In [20]:
for i in range(65,91):
    if chr(i) != "A":
        print("Current Letter",chr(i))

Current Letter B
Current Letter C
Current Letter D
Current Letter E
Current Letter F
Current Letter G
Current Letter H
Current Letter I
Current Letter J
Current Letter K
Current Letter L
Current Letter M
Current Letter N
Current Letter O
Current Letter P
Current Letter Q
Current Letter R
Current Letter S
Current Letter T
Current Letter U
Current Letter V
Current Letter W
Current Letter X
Current Letter Y
Current Letter Z

In [582]:
i =65
while i <=90:
    if chr(i) =="C":
         i+=1
         continue
    print(chr(i))
    i +=1

A
B
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [21]:
A0 = dict(zip(('a',"b","c","d","e"),(1,2,3,4,5)))
print(A0)
A1 = range(0,10)
print(A1)
A2 = sorted([i for i in A1 if i in A0])
print(A2)
A3 = sorted([A0[s] for s in A0])
print(A3)
A4 = [i for i in A1 if i in A0]
print(A4)
A5 = [[i,i*i] for i in A1]
print(A5)
A6 = {i:i*i for i in A1}
print(A6)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
range(0, 10)
[]
[1, 2, 3, 4, 5]
[]
[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81]]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [30]:
def f(x,l=[]):
    for i in range(x):
        l.append(i*i)
    print(l)
f(2)
f(3,[3,2,1])
f(3)

[0, 1]
[3, 2, 1, 0, 1, 4]
[0, 1, 0, 1, 4]

In [1]:
list = [1,3,6,10]
a = [x**2 for x in list]
a

[1, 9, 36, 100]