In [32]:
n =10 
for i in range(n):
    print(("* "*(i)))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [12]:
for i in range(5,0,-1):
    
    print(i,end="")

54321

In [18]:
s =  "Imran"
(s[::-1])

'narmI'

In [19]:
s

'Imran'

In [37]:
s = 'I am Imran'
s = s.split()
for i in s:
    print(i[::-1],end=" ")

I ma narmI

In [53]:
s = "Imran"
b = " "
for i in range(1,len(s)+1):
    b += s[-i]
print(b)

 narmI

In [89]:
list = [1,5,62,6,7,8,9,100]
a = 0
for i in list:
    if i > a:
       a = i
print(a)

100

In [112]:
a = "I am Imran"
c = 0
for i in a:
    c += 1
print(c)

10

In [155]:
n = 4
fact = 1
while(n>1):
    fact = fact*n
    n -= 1
print(fact)

24

In [157]:
a =10
print(a)

10

In [163]:
num = 6
fac = 1
while (num>1):
    fac = fac*num
    num -= 1
print(fac)

720

In [232]:
n = 3
for i in range(3,0,-1):
    for j in range(3,0,-1):
            print(i,end="")
    print()

333
222
111

In [164]:
n =10

for i in range(n):
    print((" "*(i)),("* "*(n-i)))

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [179]:
L = [1, 2,2,3,5 ,4,6,3,5,]
L1 = [2,4,3,7,8,1,9]
B = []
for i in L:
    if  i not in B:
        B.append(i)
print(B)

[1, 2, 3, 5, 4, 6]

In [183]:
num = 5
fact = 1

while(num>1):
    fact = fact*num
    num -= 1
print(fact)

120

In [2]:
n = 10
a = 0
b = 1
print(a)
print(b)
c =a+b
for i in range(n-2):
    print(c)
    a = b
    b = c
    c =a+b

0
1

In [137]:
n = 5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [93]:
from math import *
def Outer(func):
    def Inner(a,b):
        
        print("making result poisitve")
        print(fabs(a-b))
        func(a,b)
    return Inner

@Outer
def mins(a,b):
         a-b

mins(40,100)

making result poisitve
60.0

In [3]:
n = 10 
a = 0
b = 1
for i in range(n):
    
    
    c = a+b
    a = b
    b = c
    print(c)

1
2
3
5
8
13
21
34
55
89

In [32]:

def fibonacci(n):
    a = 0
    b = 1
     
    # Check is n is less
    # than 0
    if n < 0:
        print("Incorrect input")
         
    # Check is n is equal
    # to 0
    elif n == 0:
        return 0
       
    # Check if n is equal to 1
    elif n == 1:
        return b
    else:
        for i in range(n):
            c = a + b
            a = b
            b = c
        return b
 
# Driver Program
print(fibonacci(10))

89

In [37]:
n = int(input("Enter the n terms: "))
n1, n2 = 0, 1
count = 0
if n <= 0:
   print("Please enter a positive integer")
elif n == 1:
   print("Fibonacci sequence upto",n,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)
       r = n1 + n2
       n1 = n2
       n2 = r
       count += 1

Enter the n terms: 0
Please enter a positive integer

In [40]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " ,reversed_num)

Reversed Number:  4321

In [42]:
n = 12345
rev = 0

while n != 0:
    d = n %10
    rev = rev * 10 + d
    n //= 10
print(rev)

54321

In [81]:
s = "Imran"
b = 0
for i in range(1,len(s)+1):
    b +=1
print(b)

5

In [110]:
l = [1,2,3,4,5,3,6,41,3,4,3,1,20]
c = 0
for i in l:
    c +=1
    
print(c)

13

In [125]:
l = [1,2,3,4,5,3,6,41,3,4,3,1,20]
b = []
for i in l:
    if i not in b:
        b.append(i)
l = b
print(l)

[1, 2, 3, 4, 5, 6, 41, 20]

In [129]:
n = 10

a =0 
b = 1
for i in range(n):
    print(a)
    c = a+b
    a = b 
    b = c

0
1
1
2
3
5
8
13
21
34

In [134]:
l = [1,2,3,4,5,3,6,41,3,4,3,1,20]

c = 0

for i in l:
    if i > c:
        c = i
print(c)

41

In [135]:
num = 5
fact = 1
while (num > 1):
    fact = fact*num 
    num -=1
print(fact)

120

In [136]:
a ="python"
b = ''
for i in range(1,len(a)+1):
    b +=a[-i]
print(b)

nohtyp

In [138]:
a ="python"
c = 0
for i in a:
    c +=1
print(c)

6

In [141]:
num = 12345
rev = 0


while(num!=0):
    digit = num%10
    rev = rev*10+digit
    num = num//10
print(rev)

54321

In [153]:
 n = 10 
    
for i in range(n):
    print((" "* i )+("* "*(n-i)))

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [219]:
n = 5 
for i in range(n):
    print(str(n-i)*(n-i))

55555
4444
333
22
1

In [151]:
n = 5 
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(i,end="")
    print()

55555
4444
333
22
1

In [167]:
n = 5 
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(end=""+"* ")
    print()

* * * * *
* * * *
* * *
* *
*

In [181]:
n =5
for i in range(n):
    print((""* n )+("* "*(n-i)))

* * * * *
* * * *
* * *
* *
*

In [215]:
n = 5 
for i in range(n):
    print((""*(i)),("* "*(i+1)))

 *
 * *
 * * *
 * * * *
 * * * * *

In [222]:
a = " I am Imran"
b = " "
for  i in range(1,len(a)+1):
    b += a[-i]
print(b)

 narmI ma I

In [255]:
a = " Imran is Good person"
b = a.split()
c = " "
for i in range(1,len(b)+1):
     c+= b[-i]
print(c," ",end="")

 personGoodisImran

In [258]:
a =[1,2,4,5,3]
b=[i*i for i in a]
print(b)

[1, 4, 16, 25, 9]

In [261]:
a = [1,2,4,5,8,7,10,12,15,2]
l= list(filter(lambda x:x%2==0,a))
print(l)

[2, 4, 8, 10, 12, 2]

In [ ]:
filter()

In [262]:
c = lambda a,b:a+b
print(c(5,6))

11

In [263]:
l = [0,4,5,6,8,6,4,8,7,7,41,2,1,3,5]
l1 = list(map(lambda x:x*x,l))
l1

[0, 16, 25, 36, 64, 36, 16, 64, 49, 49, 1681, 4, 1, 9, 25]

In [264]:
l = [0,4,5,6,8,6,4,8,7,7,41,2,1,3,5]
l2 = list(filter(lambda x:x%2!=0,l))
l2

[5, 7, 7, 41, 1, 3, 5]

In [266]:
l3= []
for i in l:
    if i not in l3:
        l3.append(i)
l3

[0, 4, 5, 6, 8, 7, 41, 2, 1, 3]

In [281]:
l5 = list(set(l))
d = {}
for i in l5:
    d[i]=l.count(i)
d

{0: 1, 1: 1, 2: 1, 3: 1, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 41: 1}

In [292]:
l = [0,4,5,6,8,6,4,4,4,8,7,7,41,2,1,3,5]
temp = 0 
count = 0
index= 0
for x in range(0,len(l)):
    temp = l.count(l[x])
    if temp >count:
        count = temp
        index= x
most = l[index]
print("most occuring number",most)
print("how many times occuring,count:",count)

most occuring number 4
how many times occuring,count: 4

In [287]:
list = [1,2,3,4,5,6,6,7,8,9,6,8,10,8,8,8]

count = 0
temp = 0
index = 0

for x in range(0,len(list)):
     temp = list.count(list[x])


     if (temp > count):
          count = temp
          index = x

most_occ_no = list[index]

print("the most occuring number in list :",most_occ_no)
print("the number appeared ",count ,"times in list")

the most occuring number in list : 8
the number appeared  5 times in list

In [293]:
l = [1,1,1,2,2,2,4,5,5,5,5,5]

temp = 0 
count= 0
index= 0

for i in range(0,len(l)):
    temp = l.count(l[i])
    if temp>count:
        count = temp
        index = i
most_occurance = l[i]

print("Most occuring number is: ",most_occurance)

Most occuring number is:  5

In [294]:
d = {x:x*x for x in range(1,6)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [295]:
d= {x:x*2 for x in range(1,6)}
d

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [296]:
a = "A B C D"
b = [i for i in a if i!=" "]
b

['A', 'B', 'C', 'D']

In [46]:
a  = "A B C D"
b = list(a)
b = [i for i in a if i!=' ']
b

['A', 'B', 'C', 'D']

In [56]:
a = [1,2,3,4,5,69,7,8]
b = [i*i*2//8 for i in a]
b

[0, 1, 2, 4, 6, 1190, 12, 16]

In [6]:
c = int(input("Enter the Tempature in Centigrade : "))
f = (9*(int(c))/5)+32
print("Tempature in Farient:",f)

Enter the Tempature in Centigrade : 40
Tempature in Farient: 104.0

In [11]:
import math
a = int(input("enter first side of Triangle : "))
b = int(input("enter second side of Triangle : "))
c = int(input("enter third side of Triangle : "))
s = (a+b+c)/2
area = math.sqrt(s*(s-a)*(s-b)*(s-c))
print("The Area of Triangle : ", area)

enter first side of Triangle : 4
enter second side of Triangle : 3
enter third side of Triangle : 6
The Area of Triangle :  5.332682251925386

In [39]:
number = input("Enter the Number")
x = int(number)%2
if x != 0: 
    print(number,"is Odd")
else :
    print(number,"is Even" )

Enter the Number45
45 is Odd

In [44]:
count = int(input("Enter the count of a numbers :"))
i = 0
sum = 0

for i in range(count):
    x = int(input("enter the Integer"))
    sum = sum + x
avg = sum/count
print("average of numbers of count",avg)

Enter the count of a numbers :5
enter the Integer3
enter the Integer8
enter the Integer6
enter the Integer7
enter the Integer4
average of numbers of count 5.6

In [42]:
a = 23+1+5+64+21
print(a)

114

In [43]:
b = 114/5
b

22.8

In [2]:
a = [1,2,5,6,81,1,2,35,5,4,3,4,5,6]
b = []
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 5, 6, 81, 35, 4, 3]

In [33]:
a = " I Am Imran"
a = a.split()
b= a[::-1]

print(" ".join(b))

Imran Am I

In [58]:
a = "a b c d"
s = [i for i in a if i!=" "] 
print(s)

['a', 'b', 'c', 'd']

In [67]:
a = [1,2,4,5,6,78,7,6,3,2,1]
b = list(filter(lambda x:x%2==0,a))
c = list(filter(lambda x:x%2!=0,a))

print(b)
c

[2, 4, 6, 78, 6, 2]

[1, 5, 7, 3, 1]

In [72]:
a = [x for x in range(1,20) if x%2==0]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [148]:
for v in range(2, 25):
  if v > 1:
    for i in range(2, v):
       if (v % i) == 0:
        break
    else:
       print(v, end=" ")

2 3 5 7 11 13 17 19 23

In [116]:
lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end = " ")

Prime numbers between 900 and 1000 are:
907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [151]:
for i in range(3,25+1):
   if i > 1:
    for j in range(2,i):
        if (i % j ) ==0 :
            break
    else:
       print(i)

3
5
7
11
13
17
19
23

In [154]:
for i in range(2,80):
    if i>1:
        for j in range(2,i):
            if(i%j)==0:
                break
        else:
            print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79