# PRACTICE logical Program

In [2]:
# String

In [3]:
# Find the proogram to reverse the String
a = "I am working as Python developer"
b = ""
for i in a:
    b = i +b
print(b)

repoleved nohtyP sa gnikrow ma I

In [101]:
# Find the program for String words reverse only 
# 1) Using split and Slicing
a = "I am working as Python developer"
a = a.split()

for i in a:
    print(i[::-1],end=' ')

I ma gnikrow sa nohtyP repoleved

In [16]:
#2) using Logic 
string = "I am working as Python developer"
a = ' '
temp =' '
for i in string:
    if  i!= " ":
        temp += i
        continue
    rev =""
    for char in range(len(temp)):
        rev += temp[len(temp)-char-1] 
    a += rev +' '
    temp = ''
a = a +temp
print(a)

 I  ma gnikrow sa nohtyP developer

In [30]:
# Find the program for String words reverse
# 1) Using split and Slicing
a = "I am working as Python developer"
a = a.split()
a = a[::-1]
print(" ".join(a))

developer Python as working am I

In [119]:
# 2) Using split and Slicing using Logic 
a = "I am working as Python developer"
a = a.split()
# b = a[::-1]
b = ""
for i in a:
     b =i+ " " + b
print(b)

developer Python as working am I

In [19]:
#3)using pure logic
string = "I am working as Python developer"
a = ''
temp =''
for i in string:
    if  i!= " ":
        temp = temp+i
    else:
        a = temp + " " + a
        temp = ''
a = temp + " " + a
print(a)

developer Python as working am I

In [151]:
def Word(a):
    b = {}
    for i in a:
        if i in b:
            return i
        else:
            b[i]=0
    return ' '
string = "I am working as Python developer"
Word(string)

' '

In [218]:
def E(s):
    b = {}
    for i in string:
        if i in b:
            return i
        else:
            b[i]=0
    return 
string = "I am working as Python developer"
E(string)

' '

In [209]:
string = "I am working as Python developer"

char_freq={}

for i in string:
    if i in char_freq:
        char_freq[i]=char_freq[i]+1
    else:
        char_freq[i] = 0
result= max(char_freq, key = char_freq.get)

print("Most frequent character: ",result)

Most frequent character:

In [26]:
def Revs(sen):
    a = ""
    temp = ""
    for i in string:
        if  i !=" ":
            temp += i
            continue
        rev = ""
        for ch in range(len(temp)):
            rev+= temp[len(temp)-ch-1]
        a += rev + " "
        temp = ''
    return a + temp
string = "I am working as Python developer"
Revs(string)

'I ma gnikrow sa nohtyP developer'

In [35]:
sry = "I am a developer"
a = " "
t = " "
for i in sry:
    if i != " ":
        t +=i
    else:
        a = t +" "+a
        t =""
a = t +" "+ a
print(a)

developer a am  I

In [37]:
def Find(sen):
    b ={}
    for i in sen:
        if i in b:
            return i
        else:
            b[i]=0
    return 
Find(" He llo World!")

' '

In [43]:
a = 'hello Rahul'
r = ""
for i in a:
    if i == h :
        continue
print(r)

NameError: name 'h' is not defined

In [50]:
def reverse(sentence):
    answer = ''
    temp = ''
    for char in sentence:
        if char != ' ':
            temp += char
            continue
        rev = ''
        for i in range(len(temp)):
            rev += temp[len(temp)-i-1]
        answer += rev + ' '
        temp = ''
    return answer + temp
reverse("This is a string to try")

'sihT si a gnirts ot try'

In [57]:
names = ['Chris', 'Jack', 'John', 'Daman']
for i,name in enumerate(names):
    print(i,name)

0 Chris
1 Jack
2 John
3 Daman

In [63]:
print (sum(range(1,11)))

55

NameError: name 'uniform' is not defined

In [75]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
print(names2)
names3 = names1[:]
print(names3)

names2[0] = 'Alice'
print(names2)
names3[1] = 'Bob'
print(names3)

sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
        
    if ls[1] == 'Bob':
        sum += 10
        print(sum)

# print (sum)

['Amir', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bear', 'Charlton', 'Daman']
['Alice', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bob', 'Charlton', 'Daman']
12

In [89]:
a=['hel', 'l', 'o']

In [91]:
print(''.join(a))

hello

In [94]:
weekdays = ['sun','mon','tue','wed','thu','fri','sat',1,2,3,2]
listAsString = ' '.join(weekdays)
print(listAsString)

TypeError: sequence item 7: expected str instance, int found

In [105]:
a = "Rahul"
b = "jadhav"
print(a+ " "+ b)

Rahul jadhav

In [109]:
globvar = 0
def set_globvar_to_one():
    global globvar # Needed to modify global copy of globvar
    globvar = 1
def print_globvar():
    print (globvar) # No need for global declaration to read value of globvar
set_globvar_to_one()
print_globvar() # Prints 1

1

In [121]:

n =int(input("Enter the elemet"))
a = []
for i in range(0,n):
    r = int(input("Enter the Element"))
    a.append(r)
r = sum(a)
avg = r/n
print(avg)

Enter the elemet2
Enter the Element30
Enter the Element50
40.0

In [122]:
n = 12345
rev = 0
while n != 0:
    digit = n%10
    rev = rev*10+digit
    n = n//10
rev

54321

In [123]:
n =1234
s =0
while n!=0:
    digit =n%10
    s = s+digit
    n =n//10
s

10

In [1]:
def A():
    a ="nitin"

In [25]:
i = int(input())
n = 10
k = 5
if(i >n):
       print("INVALID INPUT")
       print("NUMBER OF CANDIES AVAILABLE:", end="")
       print(n)
elif(i <= 0):
       print("INVALID INPUT")
       print("NUMBER OF CANDIES AVAILABLE:", end="")
       print(n)

else:
      print("NUMBER OF CANDIES SOLD:", end="")
      print(i)
      print("NUMBER OF CANDIES AVAILABLE:", end="")
      print(n-i)

6
NUMBER OF CANDIES SOLD:6
NUMBER OF CANDIES AVAILABLE:4

In [52]:
def lucky8(a,b):
    if a==8 or  b==8:
        return True
    elif a+b==8:
        return True
    elif a-b==8:
        return True
    else:
        return False
lucky8(9,1)

lucky8(100,8)
lucky8(7,1)
lucky8(9,9)

False

In [3]:
a = "aaaaabbbbccvvvccc"
d ={}
for i in a:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
for i,j in d.items():
    print("{}{}".format(i,j),end="")

a5b4c5v3

In [9]:
st ="I am in Office"
rev =""
temp = ""
for ch in st:
    if ch != " ":
        temp+=ch
    else:
        rev = temp + " " +rev
        temp = ''
rev = temp + " " + rev
print(rev)

Office in am I

In [14]:
def ReturnChar(s):
    b = {}
    for i in s:
        if i in b:
            return i
        else:
            b[i]=0
    return ""
st =" I am  in Office"
ReturnChar(st)

' '

In [18]:
st =" I am  in Office"
a = " "
for i in st:
    a = i+a
a

'eciffO ni  ma I  '

In [148]:
st =" I am  in Office"
result = ""
word = ""
for i in (st + " "):
    if i == " ":
        if word:
            result = result + (result and " ") + word
            word = ""
    else:
        word = i + word
result

'I ma ni eciffO'

In [170]:
l =[2,5,4,3,6,7,1,8]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j] = l[j],l[i]
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [173]:
def RevChar(s):
    b = {}
    for i in s:
        if i in b:
            return i
        else:
            b[i]=0
    return " "

sen = 'I Work as Developer'
RevChar(sen)

' '

In [174]:
sen = "I Work As Developer"
coun = 0
for i in sen:
    coun +=1
coun

19

In [178]:

a=count(I)
a

NameError: name 'count' is not defined

In [215]:
l = [5,4,6,8,6,8,31,31,1,2,23,1,4,7]
l= list(set(l))
l.sort(reverse=True)
print(l)
a = l[6:]
a

[31, 23, 8, 7, 6, 5, 4, 2, 1]

[4, 2, 1]

In [220]:
l = [5,4,6,8,6,8,31,31,1,2,23,1,4,7]
l1 = []
l1 = list(set(l))
print(l1)

[1, 2, 4, 5, 6, 7, 8, 23, 31]

In [4]:
l = [5,4,6,8,6,8,31,31,1,2,23,1,4,7]
# l=list(set(l))
print(l)
l2 = [8,3,4,-9,11,17]
l2=list(set(l2))
print(l2)
l3 = []
for i in l:
    if i in l2:
        l3.append(i)
l3

[5, 4, 6, 8, 6, 8, 31, 31, 1, 2, 23, 1, 4, 7]
[3, 4, 8, 11, 17, -9]

[4, 8, 8, 4]

In [5]:
l4 = []
for i in l:
    if i not in l2:
        l4.append(i)
l4

[5, 6, 6, 31, 31, 1, 2, 23, 1, 7]

In [12]:
l5 = []
for i in l4:
    l5.insert(0,i)
print(l5)

[7, 1, 23, 2, 1, 31, 31, 6, 6, 5]

In [8]:
num = l5[0]
for i in l5:
    if i>num:
        num = i
print(num)

31

In [13]:
for i in range(len(l5)):
    for j in range(i+1,len(l5)):
        if l5[i]<l5[j]:
            l5[i],l5[j]=l5[j],l5[i]
print(l5)

[31, 31, 23, 7, 6, 6, 5, 2, 1, 1]

In [16]:
ch_num =int(input("Enter the number you to check"))
if ch_num in l5:
    print("aviable")
else:
    print("Not Avaiable")

Enter the number you to check15
Not Avaiable

In [23]:
from operator import add
l7 = [1, 3, 4, 6, 8]
l8 = [4, 5, 10, 2, 10]
res = []
for i in range(len(l7)):
    x = l7[i]+l8[i]
    res.append(x)
res

[5, 8, 14, 8, 18]

In [24]:
print(l7+l8)

[1, 3, 4, 6, 8, 4, 5, 10, 2, 10]

In [29]:
res =[ ]
for i in l7:
    if i not in  l8:
        res.append(i)
for i in l8:
    if i not in l7:
        res.append(i)
res

[1, 3, 6, 8, 5, 10, 2, 10]

In [48]:
try:
    a = 10/2
    print(a)
except ZeroDivisionError as msg:
    print("Error is Handle: ",msg)
finally:
    print("hi")

5.0
hi

In [54]:
l =[101,1,5,6,8,96,40,95]
n = l[0]
for i in l:
    if i>n:
        n=i
print(n)

101

In [52]:
l.sort()
l[-1]

101

In [55]:
l =list(set(l))
l.sort()
print(l[-2])

96

In [56]:
a= "I work in Python Language"
ans = ""
temp =""
for i in a:
    if i != " ":
        temp += i
    else:
        ans=temp+ " " + ans
        temp= ""
ans=temp+ " " + ans
print(ans)

Language Python in work I