In [23]:
n = 10
for i in range(n):
    print((" "*(i)),("* "*(n-i)))

 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [31]:
n = 5
fact = 1
while (n>1):
    fact = fact*n
    n -=1

print(fact)

120

In [81]:
n = 15
a= 0
b = 1
print(a)
print(b)
for i in range(n-2):
    
    c = a+b
    a = b
    b = c
    if c >=100:
        break
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89

In [83]:
l = [1,5,6,7,6,1,7,2,1,23,3,4,23,4,11,3,3,45,4]
b = []
for i in l:
    if i not in b:
        b.append(i)
b

[1, 5, 6, 7, 2, 23, 3, 4, 11, 45]

In [86]:
l = [1,5,6,7,6,1,7,2,1,23,3,4,23,4,11,3,3,45,4]
count = 0
for i in l:
    count +=1
print(count)
print(len(l))

19
19

In [89]:
a = "ablkfjajfljaljflka"
count = 0
for i in a:
    count +=1
print(count)

18

In [134]:
a = "My name is Imran"
b = a.split()
# for i in b:

#     print(i[::-1],end=" ")
b = b[::-1]
b

['Imran', 'is', 'name', 'My']

In [178]:
a = "My name is Imran"
b = " "
for i in range(1,len(a)+1):
    b +=a[-i]
print(b)

 narmI si eman yM

In [143]:
n = 123456789
rev = 0
while (n!=0):
    rem = n%10
    rev = rev*10+rem
    n = n//10
print(rev)

987654321

In [175]:
n = 123456789
rev = 0
while n !=0:
    rem = n%10
    rev = rev*10+rem
    n //= 10
print(rev)

987654321

In [171]:
n = 79419088570
print(str(n)[::-1])

07588091497

In [196]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i,end="")
    print()

55555
4444
333
22
1

In [399]:
a = [1,5,6,47,7,8,5,6,121,12,4]
b = list(filter (lambda x:x%2==0,a))
c = list(filter (lambda x:x%2!=0,a))
d = list(map(lambda x : x//2,a))
print(b)

print(c)
print(d)

[6, 8, 6, 12, 4]
[1, 5, 47, 7, 5, 121]
[0, 2, 3, 23, 3, 4, 2, 3, 60, 6, 2]

In [407]:
a = [1,2,5,7,8,12,6,8]
for i in a:
    if i%2==0:
        print(i,end=' ')

2 8 12 6 8

In [417]:
b = [2,4,8,9,7,5,10,12,16,17]
c = [2,4,6,8,9,5,10,16,5,1,1,1,1,1,2]
for i in b:
    if i not in c:
        print(i,end=" ")

7 12 17

In [420]:
d =b+c
d

[2,
 4,
 8,
 9,
 7,
 5,
 10,
 12,
 16,
 17,
 2,
 4,
 6,
 8,
 9,
 5,
 10,
 16,
 5,
 1,
 1,
 1,
 1,
 1,
 2]